In [1]:
import pandas as pd
import matplotlib as plt

In [ ]:
#url="https://data.sfgov.org/Public-Safety/Fire-Department-Calls-for-Service/nuek-vuh3"
#df1=pd.read_csv(url)
file='C:/Users/fuzzy Bunny/Downloads/Fire_Department_Calls_for_Service.csv'
df1=pd.read_csv(file)

In [ ]:

print (df1.columns.values)
#read_csv gave me a warning that columns 19,20,25, and 30 were mixed types
print (df1.columns[[19,20,25,30]])
print (df1.dtypes)

In [ ]:
#read_csv gave me a warning that columns 19,20,25, and 30 were mixed types
#those appear to be columns Batallion,Station Area, 
pd.set_option('display.max_columns',50)
df1.head(5)

In [2]:
#looks like I want to define the column types upon import
dtypes={'Call Number':'int','Unit ID':'object', 'Incident Number':'int', 
 'Call Type':'object', 'Call Date':'object',
 'Call Final Disposition':'object',
 'Address':'object', 'City':'object', 'Zipcode of Incident':'object',
 'Battalion':'object', 'Station Area':'object', 'Box':'object',
 'Original Priority':'object', 'Priority': 'object', 'Final Priority':'object',
 'ALS Unit':'bool', 'Call Type Group':'object', 'Number of Alarms' :'object',
 'Unit Type':'object', 'Unit sequence in call dispatch':'object', 
 'Fire Prevention District':'object', 'Supervisor District': 'object' ,
 'Neighborhooods - Analysis Boundaries':'object', 'Location':'object',
 'RowID':'object'}

In [65]:
#now lets re-read the file but with the data types that we want
#note that 'Location' is a tuple
file='C:/Users/fuzzy Bunny/Downloads/Fire_Department_Calls_for_Service.csv'
df1=pd.read_csv(file, dtype=dtypes, nrows=100000 ,parse_dates=[4,5,6,7,8,9,10,11,12,14])

In [127]:

print (df1.columns.values)
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)
df1.head(50)

['Call Number' 'Unit ID' 'Incident Number' 'Call Type' 'Call Date'
 'Watch Date' 'Received DtTm' 'Entry DtTm' 'Dispatch DtTm' 'Response DtTm'
 'On Scene DtTm' 'Transport DtTm' 'Hospital DtTm' 'Call Final Disposition'
 'Available DtTm' 'Address' 'City' 'Zipcode of Incident' 'Battalion'
 'Station Area' 'Box' 'Original Priority' 'Priority' 'Final Priority'
 'ALS Unit' 'Call Type Group' 'Number of Alarms' 'Unit Type'
 'Unit sequence in call dispatch' 'Fire Prevention District'
 'Supervisor District' 'Neighborhooods - Analysis Boundaries' 'Location'
 'RowID' 'Entry_time_temp' 'Entry_time' 'Turn_time' 'Next_Disp']

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Call Final Disposition,Available DtTm,Address,City,Zipcode of Incident,Battalion,Station Area,Box,Original Priority,Priority,Final Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,Location,RowID,Entry_time_temp,Entry_time,Turn_time,Next_Disp
0,180190096,52,18007914,Medical Incident,2018-01-19,2018-01-18,2018-01-19 00:49:48,2018-01-19 00:50:41,2018-01-19 00:51:14,2018-01-19 00:51:25,2018-01-19 00:57:47,2018-01-19 01:14:51,2018-01-19 01:30:48,Code 2 Transport,2018-01-19 02:12:32,0 Block of RICHARDSON AVE,San Francisco,94123,B04,16,4223,3,3,3,True,Potentially Life-Threatening,1,MEDIC,1,4,2,Marina,"(37.799102863886006, -122.44550053924627)",180190096-52,00:50:41,Night,00:00:11,NaT
1,180190022,60,18007906,Medical Incident,2018-01-19,2018-01-18,2018-01-19 00:09:42,2018-01-19 00:09:42,2018-01-19 00:10:32,2018-01-19 00:10:37,2018-01-19 00:25:23,NaT,NaT,Patient Declined Transport,2018-01-19 00:58:03,200 Block of WILLIAMS AVE,San Francisco,94124,B10,42,6474,B,2,2,True,Non Life-threatening,1,MEDIC,1,10,10,Bayview Hunters Point,"(37.729934693604356, -122.39774442710336)",180190022-60,00:09:42,Night,00:00:05,NaT
2,180190058,62,18007911,Medical Incident,2018-01-19,2018-01-18,2018-01-19 00:25:59,2018-01-19 00:25:59,2018-01-19 00:26:11,2018-01-19 00:26:16,NaT,NaT,NaT,Cancelled,2018-01-19 00:32:01,1000 Block of BROADWAY,San Francisco,94133,B01,02,1442,A,2,2,True,Potentially Life-Threatening,1,MEDIC,2,1,3,Nob Hill,"(37.79679282865556, -122.41483656842166)",180190058-62,00:25:59,Night,00:00:05,NaT
3,180190049,67,18007909,Medical Incident,2018-01-19,2018-01-18,2018-01-19 00:19:22,2018-01-19 00:22:07,2018-01-19 00:24:16,2018-01-19 00:25:07,2018-01-19 00:29:57,2018-01-19 00:55:01,2018-01-19 01:12:34,Code 2 Transport,2018-01-19 01:49:16,2100 Block of WASHINGTON ST,San Francisco,94109,B04,38,3331,2,3,3,True,Non Life-threatening,1,MEDIC,2,4,2,Pacific Heights,"(37.79237522924862, -122.42863662869706)",180190049-67,00:22:07,Night,00:00:51,NaT
4,1070156,81,31833,Medical Incident,2000-04-16,2000-04-16,2000-04-16 13:05:51,2000-04-16 13:06:15,2000-04-16 13:06:57,2000-04-16 13:07:59,2000-04-16 13:10:19,2000-04-16 13:51:09,2000-04-16 14:21:51,Other,2000-04-16 14:50:52,200 Block of TURK ST,SF,94102,B03,01,1456,3,3,3,True,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.782845034474, -122.413221766738)",001070156-81,13:06:15,Morning,00:01:02,NaT
5,1070199,81,31873,Medical Incident,2000-04-16,2000-04-16,2000-04-16 15:37:53,2000-04-16 15:38:51,2000-04-16 15:44:07,2000-04-16 15:45:30,2000-04-16 16:12:54,2000-04-16 16:38:55,NaT,Other,2000-04-16 17:23:24,4TH ST/MISSION ST,SF,94103,B03,01,2213,1,1,2,True,NaN,1,MEDIC,1,3,6,South of Market,"(37.7844787439707, -122.404266872501)",001070199-81,15:38:51,Morning,00:01:23,0 days 04:16:27
6,1070235,81,31910,Medical Incident,2000-04-16,2000-04-16,2000-04-16 17:53:37,2000-04-16 17:53:46,2000-04-16 17:58:29,2000-04-16 17:59:42,NaT,2000-04-16 18:30:25,NaT,Other,2000-04-16 19:11:45,BUSH ST/TRINITY ST,SF,94108,B01,13,1235,1,1,2,True,NaN,1,MEDIC,1,1,3,Financial District/South Beach,"(37.7909250813831, -122.402724117621)",001070235-81,17:53:46,Morning,00:01:13,0 days 03:27:38
7,1080163,83,32147,Medical Incident,2000-04-17,2000-04-17,2000-04-17 13:47:27,2000-04-17 13:48:56,2000-04-17 13:49:19,NaT,2000-04-17 13:56:27,2000-04-17 14:14:56,NaT,Other,2000-04-17 15:04:53,1300 Block of BATTERY ST,SF,94111,B01,13,0927,3,3,3,False,NaN,1,MEDIC,2,1,3,Financial District/South Beach,"(37.8036788477927, -122.402003404884)",001080163-83,13:48:56,Morning,NaT,NaT
8,1080204,83,32187,Medical Incident,2000-04-17,2000-04-17,2000-04-17 15:45:54,2000-04-17 15:46:34,2000-04-17 15:47:05,2000-04-17 15:48:54,NaT,2000-04-17 16:02:04,2000-04-17 16:29:47,Other,2000-04-17 17:06:47,PIERCE ST/POST ST,SF,94115,B04,05,3622,3,3,3,False,NaN,1,MEDIC,4,4,5,Japantown,"(37.7847360663022, -122.436368357763)",001080204-83,15:46:34,Morning,00:01:49,0 days 03:17:28
9,1080238,83,32220,Medical Incident,2000-04-17,2000-04-17,2000-04-17 17:21:51,2000-04-17 17:23:51,2000-04-17 17:24:42,NaT,2000-04-17 17:37:04,2000-04-17 17:52:20,2000-04-17 18:20:36,Other,2000-04-17 18:48:43,0 Block of DEDMAN CT,SF,94124,B10,25,6522,3,3,3,False,NaN,1,MEDIC,1,10,10,Bayview Hunters Point,"(37.7370621094305, -122.384923628797)",001080238-83,17:23:51,Morning,NaT,0 days 03:01:38
10,1080274,83,32247,Medical Incident,2000-04-17,2000-04-17,2000-04-17 18:50:58,2000-04-17 18:51:51,2000-04-17 18:57:19,2000-04-17 19:03:30,2000-04-17 19:07:13,2000-04-17 19:40:05,2000-04-17 20:12:06,Other,2000-04-17 21:08:28,300 Block of CLEMENTINA ST,SF,94103,B03,01,2244,2,2,2,False,NaN,1,MEDIC,1,3,6,South of Market,"(37.7811617395427, -122.403433976322)",001080274-83,18:51:51,Morning,00:06:11,0 days 03:43:46
11,1420233,83,42419,Medical Incident,2000-05-21,2000-05-21,2000-05-21 15:16:10,2000-05-21 15:17:37,2000-05-21 15:19:07,2000-05-21 15:20:11,NaT,2000-05-21 16:13:21,2000-05-21 16:52:12,Other,2000-05-21 17:06:05,2000 Block of MISSION ST,SF,94110,B02,07,5236,2,2,2,False,NaN,1,MEDIC,2,2,9,Mission,"(37.7642361189447, -122.419659842408)",001420233-83,15:17:37,Morning,00:01:04,33 days 22:08:46
12,1420283,83,42468,Medical Incident,2000-05-21,2000-05-21,2000-05-21 17:27:21,2000-05-21 17:28:07,2000-05-21 17:30:34,2000-05-21 17:34:50,2000-05-21 17:37:27,2000-05-21 17:58:52,2000-05-21 18:15:39,Other,2000-05-21 18:48:43,CHURCH ST/MARKET ST,SF,94114,B02,06,5213,3,3,3,False,NaN,1,MEDIC,2,2,8,Castro/Upper Market,"(37.7675044595983, -122.428948567606)",001420283-83,17:28:07,Morning,00:04:16,0 days 03:29:36
13,1420314,83,42502,Medical Incident,2000-05-21,2000-05-21,2000-05-21 19:11:40,2000-05-21 19:12:35,2000-05-21 19:19:55,2000-05-21 19:21:25,2000-05-21 19:26:44,NaT,NaT,Other,2000-05-21 19:42:51,CEDAR ST/POLK ST,SF,94109,B04,03,1641,1,1,2,False,NaN,1,MEDIC,1,4,6,Tenderloin,"(37.7863589505026, -122.419833090702)",001420314-83,19:12:35,Morning,00:01:30,0 days 02:12:17
14,1420334,83,42518,Medical Incident,2000-05-21,2000-05-21,2000-05-21 19:52:57,2000-05-21 19:53:38,2000-05-21 19:54:13,2000-05-21 19:55:10,2000-05-21 19:57:17,NaT,NaT,No Merit,2000-05-21 20:04:02,100 Block of CEDAR ST,SF,94109,B04,03,3116,3,3,3,False,NaN,1,MEDIC,2,4,3,Tenderloin,"(37.7863168128243, -122.420614015652)",001420334-83,19:53:38,Morning,00:00:57,0 days 00:44:07
15,1420338,83,42522,Medical Incident,2000-05-21,2000-05-21,2000-05-21 20:11:39,2000-05-21 20:12:06,2000-05-21 20:13:10,NaT,2000-05-21 20:16:01,2000-05-21 20:22:03,2000-05-21 20:27:25,Other,2000-05-21 21:00:24,1900 Block of MISSION ST,SF,94103,B02,07,5236,3,3,3,False,NaN,1,MEDIC,2,2,9,Mission,"(37.7658666581108, -122.419678114931)",001420338-83,20:12:06,Morning,NaT,0 days 01:06:11
16,1430121,83,42698,Medical Incident,2000-05-22,2000-05-22,2000-05-22 11:36:36,2000-05-22 11:38:21,2000-05-22 11:43:13,2000-05-22 11:43:32,NaT,NaT,NaT,Other,2000-05-22 11:51:42,700 Block of POLK ST,SF,94109,B02,03,3115,2,2,2,False,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.7837899781799, -122.419387180576)",001430121-83,11:38:21,Morning,00:00:19,0 days 15:38:32
17,1430124,83,42701,Medical Incident,2000-05-22,2000-05-22,2000-05-22 12:05:23,2000-05-22 12:05:55,2000-05-22 12:06:36,NaT,2000-05-22 12:11:08,2000-05-22 12:37:01,2000-05-22 13:04:59,Other,2000-05-22 13:52:54,400 Block of SUTTER ST,SF,94108,B01,01,1324,3,3,3,False,NaN,1,MEDIC,1,1,3,Financial District/South Beach,"(37.7893838867711, -122.407786956287)",001430124-83,12:05:55,Morning,NaT,0 days 02:09:41
18,1430170,83,42746,Medical Incident,2000-05-22,2000-05-22,2000-05-22 14:49:06,2000-05-22 14:52:37,2000-05-22 14:53:03,2000-05-22 14:53:51,NaT,2000-05-22 15:17:24,2000-05-22 15:38:22,Other,2000-05-22 16:12:46,400 Block of EDDY ST,SF,94109,B02,03,1545,3,3,3,False,NaN,1,MEDIC,2,2,6,Tenderloin,"(37.7836739523567, -122.415072980803)",001430170-83,14:52:37,Morning,00:00:48,0 days 04:06:10
19,1430198,83,42773,Medical Incident,2000-05-22,2000-05-22,2000-05-22 16:13:07,2000-05-22 16:15:41,2000-05-22 16:16:23,2000-05-22 16:17:12,2000-05-22 16:27:03,2000-05-22 16:57:37,2000-05-22 17:11:11,Other,2000-05-22 18:35:48,1800 Block of POST ST,SF,94115,B04,05,3513,2,2,2,False,NaN,1,MEDIC,1,4,5,Japantown,"(37.7853160090058, -122.432236013697)",001430198-83,16:15:41,Morning,00:00:49,0 days 03:42:45
20,1430269,83,42842,Medical Incident,2000-05-22,2000-05-22,2000-05-22 19:48:49,2000-05-22 19:53:44,2000-05-22 19:54:22,2000-05-22 19:55:23,2000-05-22 20:02:24,2000-05-22 20:37:06,2000-05-22 20:51:12,Other,2000-05-22 21:11:10,100 Block of CAPP ST,SF,94110,B02,07,5236,3,3,3,False,NaN,1,MEDIC,3,2,9,Mission,"(37.7642910155103, -122.418689416733)",001430269-83,19:53:44,Morning,00:01:01,0 days 04:54:47
21,1490132,83,44539,Medical Incident,2000-05-28,2000-05-28,2000-05-28 12:30:39,2000-05-28 12:31:57,2000-05-28 12:33:40,2000-05-28 12:35:06,2000-05-28 12:42:17,NaT,NaT,Patient Declined Transport,2000-05-28 13:11:28,3400 Block of 16TH ST,SF,94114,B02,06,5234,3,3,3,True,NaN,1,MEDIC,2,2,8,Castro/Upper Market,"(37.7643754793541, -122.429939002737)",001490132-83,12:31:57,Morning,00:01:26,5 days 17:17:06
22,1490145,83,44552,Medical Incident,2000-05-28,2000-05-28,2000-05-28 13:23:56,2000-05-28 13:25:38,2000-05-28 13:26:00,2000-05-28 13:26:52,2000-05-28 13:31:16,2000-05-28 13:49:54,2000-05-28 13:54:22,Other,2000-05-28 14:39:42,GEARY BL/STEINER ST,SF,94115,B04,05,3623,3,3,3,True,NaN,1,MEDIC,2,4,5,Western Addition,"(37.7841518625627, -122.434562099013)",001490145-83,13:25:38,Morning,00:00:52,0 days 02:06:02
23,1490164,83,44570,Medical Incident,2000-05-28,2000-05-28,2000-05-28 15:24:44,2000-05-28 15:26:17,2000-05-28 15:27:06,2000-05-28 15:28:01,2000-05-28 15:33:18,2000-05-28 15:48:37,2000-05-28 15:57:29,Other,2000-05-28 16:34:13,1600 Block of MARKET ST,SF,94102,B02,36,3311,3,3,3,True,NaN,1,MEDIC,2,2,5,Hayes Valley,"(37.7734563328786, -122.421591110968)",001490164-83,15:26:17,Morning,00:00:55,0 days 03:08:13
24,1490183,83,44589,Medical Incident,2000-05-28,2000-05-28,2000-05-28 16:35:19,2000-05-28 16:35:56,2000-05-28 16:36:31,NaT,2000-05-28 16:45:25,NaT,NaT,No Merit,2000-05-28 17:00:52,HAIGHT ST/WEBSTER ST,SF,94102,B02,06,3524,1,1,2,True,NaN,1,MEDIC,1,2,5,Hayes Valley,"(37.7723158453773, -122.428802104084)",001490183-83,16:35:56,Morning,NaT,0 days 01:33:46
25,1490196,83,44602,Medical Incident,2000-05-28,2000-05-28,2000-05-28 17:12:58,2000-05-28 17:15:16,2000-05-28 17:16:33,2000-05-28 17:18:58,NaT,2000-05-28 17:52:01,NaT,Other,2000-05-28 19:00:27,400 Block of 7TH ST,SF,94103,B03,27,0231,2,2,2,True,NaN,1,MEDIC,3,3,6,South of Market,"(37.7746534767072, -122.405118197249)",001490196-83,17:15:16,Morning,00:02:25,0 days 02:23:56
26,1490233,83,44638,Medical Incident,2000-05-28,2000-05-28,2000-05-28 19:46:16,2000-05-28 19:48:06,2000-05-28 19:54:34,2000-05-28 19:55:50,2000-05-28 19:57:09,2000-05-28 20:25:00,NaT,Other,2000-05-28 20:55:36,400 Block of HYDE ST,SF,94109,B02,03,1555,1,1,2,True,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.7849211326639, -122.416097390622)",001490233-83,19:48:06,Morning,00:01:16,0 days 03:39:03
27,1500141,83,44834,Medical Incident,2000-05-29,2000-05-29,2000-05-29 13:54:36,2000-05-29 13:55:04,2000-05-29 13:56:08,2000-05-29 13:58:14,NaT,2000-05-29 14:20:22,NaT,Other,2000-05-29 14:58:18,3RD ST/SOUTH PARK AV,SF,94107,B03,08,2173,3,3,3,True,NaN,1,MEDIC,2,3,6,Financial District/South Beach,"(37.7808968919218, -122.394914526446)",001500141-83,13:55:04,Morning,00:02:06,0 days 19:03:44
28,1500173,83,44866,Medical Incident,2000-05-29,2000-05-29,2000-05-29 16:14:07,2000-05-29 16:15:45,2000-05-29 16:16:24,2000-05-29 16:17:35,2000-05-29 16:33:43,2000-05-29 16:49:08,2000-05-29 17:12:34,Other,2000-05-29 17:31:52,2800 Block of 23RD ST,SF,94110,B06,07,5476,1,1,2,True,NaN,1,MEDIC,1,6,9,Mission,"(37.7544804202345, -122.408803266483)",001500173-83,16:15:45,Morning,00:01:11,0 days 03:35:44
29,1500191,83,44882,Medical Incident,2000-05-29,2000-05-29,2000-05-29 17:27:09,2000-05-29 17:31:02,2000-05-29 17:32:06,2000-05-29 17:32:42,2000-05-29 17:43:13,2000-05-29 17:53:26,2000-05-29 18:21:43,Other,2000-05-29 18:46:32,100 Block of 29TH ST,SF,94110,B06,11,5576,1,1,2,True,NaN,1,MEDIC,1,6,8,Noe Valley,"(37.7438354653162, -122.423521889173)",001500191-83,17:31:02,Morning,00:00:36,0 days 02:30:08
30,1500228,83,44918,Medical Incident,2000-05-29,2000-05-29,2000-05-29 20:14:38,2000-05-29 20:19:18,2000-05-29 20:20:24,2000-05-29 20:21:37,2000-05-29 20:27:51,2000-05-29 20:33:49,2000-05-29 20:38:53,Other,2000-05-29 21:30:30,800 Block of BRYANT ST,SF,94103,B03,27,2255,1,1,2,True,NaN,1,MEDIC,1,3,6,South of Market,"(37.7758599616408, -122.402849079555)",001500228-83,20:19:18,Morning,00:01:13,0 days 03:58:24
31,1520121,83,45332,Medical Incident,2000-05-31,2000-05-31,2000-05-31 12:14:23,2000-05-31 12:15:12,2000-05-31 12:21:26,2000-05-31 12:22:23,2000-05-31 12:38:23,2000-05-31 12:49:02,2000-05-31 13:06:28,Other,2000-05-31 13:57:37,1900 Block of PIERCE ST,SF,94115,B04,38,3651,2,2,2,True,NaN,1,MEDIC,1,4,2,Pacific Heights,"(37.7880014541875, -122.437100650706)",001520121-83,12:15:12,Morning,00:00:57,1 days 17:37:13
32,1520154,83,45364,Medical Incident,2000-05-31,2000-05-31,2000-05-31 14:27:07,2000-05-31 14:28:26,2000-05-31 14:28:50,2000-05-31 14:33:17,NaT,NaT,NaT,Against Medical Advice,2000-05-31 14:59:46,500 Block of POLK ST,SF,94102,B02,03,3114,3,3,3,True,NaN,1,MEDIC,2,2,6,Tenderloin,"(37.7819285009366, -122.419015659869)",001520154-83,14:28:26,Morning,00:04:27,0 days 02:38:20
33,1520165,83,45375,Medical Incident,2000-05-31,2000-05-31,2000-05-31 14:57:28,2000-05-31 14:58:11,2000-05-31 15:00:00,NaT,2000-05-31 15:02:07,NaT,NaT,Against Medical Advice,2000-05-31 15:27:48,0 Block of JONES ST,SF,94102,B03,01,1455,3,3,3,True,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.7815955871561, -122.412190669917)",001520165-83,14:58:11,Morning,NaT,0 days 00:58:58
34,1520193,83,45403,Medical Incident,2000-05-31,2000-05-31,2000-05-31 16:30:17,2000-05-31 16:30:47,2000-05-31 16:31:57,2000-05-31 16:33:32,2000-05-31 16:35:04,2000-05-31 16:57:21,2000-05-31 17:18:50,Other,2000-05-31 17:27:21,EDDY ST/TAYLOR ST,SF,94102,B03,01,1453,3,3,3,True,NaN,1,MEDIC,1,3,6,Tenderloin,"(37.7841410121878, -122.410951620282)",001520193-83,16:30:47,Morning,00:01:35,0 days 02:27:21
35,1520213,83,45421,Medical Incident,2000-05-31,2000-05-31,2000-05-31 17:43:45,2000-05-31 17:44:41,2000-05-31 17:44:57,2000-05-31 17:45:44,NaT,NaT,2000-05-31 17:47:38,Against Medical Advice,2000-05-31 18:35:43,100 Block of LARKIN ST,SF,94102,B02,36,1647,3,3,3,True,NaN,1,MEDIC,2,2,6,Tenderloin,"(37.7791298669797, -122.416605894296)",001520213-83,17:44:41,Morning,00:00:47,0 days 02:03:46
36,1520235,83,45442,Medical Incident,2000-05-31,2000-05-31,2000-05-31 19:41:56,2000-05-31 19:43:24,2000-05-31 19:44:21,2000-05-31 19:44:55,2000-05-31 19:50:28,NaT,NaT,Against Medical Advice,2000-05-31 20:39:14,200 Block of 7TH ST,SF,94103,B03,27,2314,1,1,2,True,NaN,1,MEDIC,1,2,6,South of Market,"(37.7773228349255, -122.408663553867)",001520235-83,19:43:24,Morning,00:00:34,0 days 02:54:17
37,1430169,83,42745,Medical Incident,2000-05-22,2000-05-22,2000-05-22 14:45:35,2000-05-22 14:49:40,2000-05-22 14:50:53,NaT,NaT,NaT,NaT,Other,NaT,BAY ST/MASON ST,SF,94133,B01,28,1425,2,2,2,False,NaN,1,MEDIC,2,1,3,North Beach,"(37.8056184799358, -122.413604167697)",001430169-83,14:49:40,Morning,NaT,0 days 00:00:00
38,1500110,83,44804,Medical Incident,2000-05-29,2000-05-29,2000-05-29 12:05:45,2000-05-29 12:08:56,2000-05-29 12:09:20,2000-05-29 12:11:57,2000-05-29 12:23:49,2000-05-29 12:46:41,NaT,Other,NaT,800 Block of MARKET ST,SF,94102,B03,01,2209,2,2,2,True,NaN,1,MEDIC,1,3,3,Tenderloin,"(37.7843455364627, -122.407785146121)",001500110-83,12:08:56,Morning,00:02:37,0 days 00:00:00
39,1090120,84,32448,Medical Incident,2000-04-18,2000-04-18,2000-04-18 12:08:21,2000-04-18 12:08:32,2000-04-18 12:10:23,2000-04-18 12:11:09,2000-04-18 12:21:10,2000-04-18 12:37:28,NaT,Other,2000-04-18 13:02:44,1ST ST/MISSION ST,SF,94105,B03,35,2126,1,1,2,False,NaN,1,MEDIC,1,3,6,Financial District/South Beach,"(37.7897625977156, -122.397574469759)",001090120-84,12:08:32,Morning,00:00:46,NaT
40,1090199,84,32524,Medical Incident,2000-04-18,2000-04-18,2000-04-18 17:32:02,2000-04-18 17:32:37,2000-04-18 17:36:56,2000-04-18 17:37:50,2000-04-18 17:49:31,2000-04-18 18:18:33,NaT,Other,2000-04-18 19:04:27,300 Block of CLEMENTINA ST,SF,94103,B03,01,2244,2,2,2,False,NaN,1,MEDIC,1,3,6,South of Market,"(37.7811617395427, -122.403433976322)",001090199-84,17:32:37,Morning,00:00:54,0 days 06:54:04
41,1090239,84,32561,Medical Incident,2000-04-18,2000-04-18,2000-04-18 19:47:38,2000-04-18 19:49:43,2000-04-18 19:51:35,2000-04-18 19:52:09,2000-04-18 19:58:08,2000-04-18 20:10:07,NaT,Other,2000-04-18 21:06:16,1000 Block of POLK ST,SF,94109,B04,03,3121,1,1,2,False,NaN,1,MEDIC,1,4,6,Tenderloin,"(37.7861172118379, -122.419854245692)",001090239-84,19:49:43,Morning,00:00:34,0 days 03:29:20
42,1100097,84,32709,Medical Incident,2000-04-19,2000-04-19,2000-04-19 11:56:57,2000-04-19 11:58:22,2000-04-19 11:58:59,2000-04-19 12:01:30,2000-04-19 12:07:13,2000-04-19 12:26:25,NaT,Other,2000-04-19 12:51:24,300 Block of ELLIS ST,SF,94102,B03,03,1461,3,3,3,True,NaN,1,MEDIC,2,3,6,Tenderloin,"(37.7850246606887, -122.411971890566)",001100097-84,11:58:22,Morning,00:02:31,0 days 16:59:49
43,1100118,84,32730,Medical Incident,2000-04-19,2000-04-19,2000-04-19 12:50:09,2000-04-19 12:50:50,2000-04-19 12:51:18,NaT,2000-04-19 12:55:41,NaT,NaT,Patient Declined Transport,2000-04-19 13:16:47,100 Block of 7TH ST,SF,94103,B02,27,2315,3,3,3,True,NaN,1,MEDIC,1,3,6,South of Market,"(37.7786395920196, -122.410120840963)",001100118-84,12:50:50,Morning,NaT,0 days 01:17:48
44,1100132,84,32744,Medical Incident,2000-04-19,2000-04-19,2000-04-19 13:31:29,2000-04-19 13:31:35,2000-04-19 13:33:12,NaT,NaT,NaT,NaT,Other,2000-04-19 13:36:38,16TH ST/VALENCIA ST,SF,94103,B02,06,5226,2,2,2,True,NaN,1,MEDIC,1,2,8,Mission,"(37.7649173790256, -122.421886447232)",001100132-84,13:31:35,Morning,NaT,0 days 00:45:20
45,1100134,84,32746,Medical Incident,2000-04-19,2000-04-19,2000-04-19 13:52:49,2000-04-19 13:54:38,2000-04-19 13:55:08,2000-04-19 13:55:59,2000-04-19 13:59:21,2000-04-19 14:25:06,NaT,Other,2000-04-19 15:05:50,600 Block of BATTERY ST,SF,94111,B01,13,1156,3,3,3,True,NaN,1,MEDIC,1,1,3,Chinatown,"(37.7972065764178, -122.400840559077)",001100134-84,13:54:38,Morning,00:00:51,0 days 01:32:38
46,1100155,84,32767,Medical Incident,2000-04-19,2000-04-19,2000-04-19 15:05:56,2000-04-19 15:09:22,2000-04-19 15:10:04,2000-04-19 15:10:57,2000-04-19 15:12:22,NaT,NaT,SFPD,2000-04-19 15:27:13,GOLDEN GATE AV/JONES ST,SF,94102,B03,01,1454,3,3,3,True,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.7820730668609, -122.412220736854)",001100155-84,15:09:22,Morning,00:00:53,0 days 01:32:05
47,1100158,84,32770,Medical Incident,2000-04-19,2000-04-19,2000-04-19 15:26:31,2000-04-19 15:29:19,2000-04-19 15:29:55,NaT,2000-04-19 15:35:22,2000-04-19 16:03:12,NaT,Other,2000-04-19 16:36:28,900 Block of GEARY ST,SF,94109,B04,03,3116,1,1,2,True,NaN,1,MEDIC,1,4,6,Tenderloin,"(37.7860512191302, -122.418924278325)",001100158-84,15:29:19,Morning,NaT,0 days 01:26:24
48,1100182,84,32794,Medical Incident,2000-04-19,2000-04-19,2000-04-19 16:46:17,2000-04-19 16:47:51,2000-04-19 16:48:39,2000-04-19 16:52:11,2000-04-19 16:58:19,2000-04-19 17:11:43,2000-04-19 17:28:31,Other,2000-04-19 18:19:44,700 Block of FOLSOM ST,SF,94103,B03,01,2176,3,3,3,True,NaN,1,MEDIC,2,3,6,South of Market,"(37.7832536611671, -122.399701172169)",001100182-84,16:47:51,Morning,00:03:32,0 days 02:49:49
49,1100208,84,32819,Medical Incident,2000-04-19,2000-04-19,2000-04-19 18:27:35,2000-04-19 18:28:00,2000-04-19 18:29:04,2000-04-19 18:29:57,NaT,2000-04-19 18:52:47,2000-04-19 19:11:37,Other,2000-04-19 19:24:13,200 Block of MCALLISTER ST,SF,94102,B02,03,1553,3,3,3,True,NaN,1,MEDIC,3,2,6,Tenderloin,"(37.7806168446664, -122.416562254293)",001100208-84,18:28:00,Morning,00:00:53,0 days 02:35:34

In [67]:
#based upon the read me we need to look at the time of day that the incident was created
#(I am guessing the the created datetime is 'Entry DtTm')
#and the time difference between when a system becomes available and its next dispatch

#let create an incident time column
#night if between 10pm and 6 am
#morning if bettween 6am and 2pm
#afternoon if between 2pm and 10pm
df1['Entry_time_temp'] = df1['Entry DtTm'].dt.time
df1['Entry_time']='Night'
df1['Entry_time'].loc[df1['Entry DtTm'].dt.strftime('%H:%M:%S').between('06:00:01','14:00:00')]="Morning"
df1['Entry_time'].loc[df1['Entry DtTm'].dt.strftime('%H:%M:%S').between('14:00:01','22:00:00')]="Morning"

#Turnout is defined as the duration of time between when a unit is dispatched and when the unit is enroute
#i'm assuming that turnout time is 'Response DtTm'- 'Dispatch DtTm' 
#But I don't know if this was ture.  Normally I would ask before proceeding
df1['Turn_time']=df1['Response DtTm']-df1['Dispatch DtTm']

#there are multiple units in this table.  
#to calculate  the difference tween when a unit (e.g. system) is available and the 
#next dispatch, I need to sort by unit
#df2=df1.sort_values(by='Unit ID').reset_index(inplace=True)

#df1['time_delta'] = (df1['Available DtTm']-df1['Dispatch DtTm'].shift()).fillna(0)

In [118]:
#there are multiple units in this table.  
#to calculate  the difference tween when a unit (e.g. system) is available and the 
#next dispatch, I need to sort by unit and available time
df1=df1.sort_values(by=['Unit ID','Available DtTm']).reset_index(drop=True)
#now let's calculate the difference between the available time and the next dispatch time
df1['Next_Disp']=(df1['Available DtTm']-df1['Dispatch DtTm'].shift()).fillna(0)

#note if there is a change between units, we still get a 'Next_Disp' time
#we need to drop these cases
df1['Next_Disp'].loc[~(df1['Unit ID']==df1['Unit ID'].shift())]= pd.Timedelta('nat')

In [126]:
df1=df1.drop(columns=['what'])

In [86]:
#I need to know the distinct values for 'Unit ID'
Units=df1['Unit ID'].unique()
print(Units)

['E18' 'M14' 'M36' 'E01' 'RS1' 'T03' 'E38' 'E15' 'E08' 'M17' 'E13' 'M18'
 'M09' 'E05' 'T06' 'E39' 'M10' 'E33' 'E36' 'M41' 'K439' 'E10' 'RA13' 'M05'
 'M03' 'RC2' 'M01' 'M02' 'E43' 'E12' 'M15' 'M08' 'RC1' 'E14' 'A782' 'E03'
 'M07' 'RC3' 'M43' 'E11' 'M35' 'RA38' 'E16' 'T01' 'M12' 'B04' 'E02' 'E26'
 'E37' 'A909' 'T11' 'E42' 'E41' 'E07' 'E35' 'RA08' 'E24' 'E34' 'RA36'
 'B06' 'A897' 'A889' 'E06' 'E48' 'A727' 'B05' 'T12' 'B02' 'E23' 'E17'
 'T14' 'E25' 'T16' 'T02' 'E31' 'RS2' '60' 'T09' 'RA32' 'E29' 'T08' 'T10'
 'T19' 'T15' 'T13' 'K585' 'E19' 'E09' 'E44' 'E32' 'E40' 'T18' 'E21' 'K790'
 'K922' 'B01' 'B03' 'B08' 'K847' 'RA12' 'E28' 'D1' 'A929' 'RA03' 'T17'
 'RA07' 'KM03' 'RA48' 'K667' 'E20' 'RA09' '83' 'T07' 'A921' 'RA01' '81'
 'B10' 'A922' 'A641' 'A837' 'A933' '67' 'B07' 'D2' 'AR1' 'T05' 'A786' '84'
 'RC4' 'B09' 'SS1' 'A802' 'RA10' '85' 'AM124' 'A931' 'A204' 'A202' 'A208'
 'K895' 'E22' 'A206' 'K917' 'CD2' '62' 'RA41' 'RA05' 'A210' 'K834' 'BE1'
 'J1' 'D3' 'PMC' 'KM07' 'A104' '52' 'E51' 'FB1' 'A291' 'HZ1' 'HT48' 'K669'
 'FHT25' 'UU1' 'CD3' 'CR1' 'SR1' 'K768' 'MTZ' 'A102' 'K888' 'A917' 'M38'
 'MP4' 'MP1' 'OES248' '87' 'RB967' 'AHT7' 'CO2' 'PC1' '91' '92' '93' 'M29'
 'RA16' 'M33' 'RA33' 'M16' 'RA29' 'RA35' 'MP2' 'CD1' 'MP3' 'RA02' 'T48'
 'M28' 'K720' 'FHT17' 'A101' 'K968' 'MP25' 'MP32' 'MP43' 'K996' 'K1005'
 'RA28']

In [89]:
df1['Next_Disp']=(df1['Available DtTm']-df1['Dispatch DtTm'].shift()).fillna(0)

In [ ]:
#lets look at correlations between attributes
from pandas.tools.plotting import scatter_matrix
scatter_matrix(df1)

In [30]:
df1['Entry_time']

0        Night
1        Night
2        Night
3        Night
4        Night
5        Night
6        Night
7        Night
8        Night
9        Night
10       Night
11       Night
12       Night
13       Night
14       Night
15       Night
16       Night
17       Night
18       Night
19       Night
20       Night
21       Night
22       Night
23       Night
24       Night
25       Night
26       Night
27       Night
28       Night
29       Night
         ...
99970    Night
99971    Night
99972    Night
99973    Night
99974    Night
99975    Night
99976    Night
99977    Night
99978    Night
99979    Night
99980    Night
99981    Night
99982    Night
99983    Night
99984    Night
99985    Night
99986    Night
99987    Night
99988    Night
99989    Night
99990    Night
99991    Night
99992    Night
99993    Night
99994    Night
99995    Night
99996    Night
99997    Night
99998    Night
99999    Night
Name: Entry_time, Length: 100000, dtype: object